{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top navigation-bar">
    <!-- Brand Name -->
    <a class="navbar-brand" href="{% url 'index' %}"><img class="my-brand-name" src="{% static 'img/logo/logo.png' %}"></a>
    <!-- Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Search Bar -->
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text"
                   size="62" placeholder="Search" aria-label="Search">
            <input type="button" value="\m/"
                   class="btn btn-outline-success my-2 my-sm-0 search-button"
                   onclick='location.href="#"'>
        </form>
    </div>
    {% include "modules/base/user.html" %}
</nav>
