{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row my-input-title"><h3>Settings: ozzy_osbourne</h3></div>

<form class="my-input-block">
    <div class="form-group row">
        <label for="inputLogin" class="col-sm-1 label">Login:</label>
        <div class="col-sm-11">
            <input type="text" class="form-control my-input-textarea" id="inputLogin1" value="ozzy_osbourne">
            <div class="invalid-feedback">
                Please provide valid Login.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-1 label">Email:</label>
        <div class="col-sm-11">
            <input type="email" class="form-control my-input-textarea" id="inputEmail1" value="o.osbourne@gmail.com">
            <div class="invalid-feedback">
                Please provide valid Email.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputNick" class="col-sm-1 label">Nick:</label>
        <div class="col-sm-11">
            <input type="text" class="form-control my-input-textarea" id="inputNick1"value="ozzy_osbourne">
            <div class="invalid-feedback">
                Please provide valid Nick.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-11">
            <img class="settings-avatar" src="../static/img/ava/ozzy_osbourne.png">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword1" class="col-sm-1 label">Ava:</label>
        <div class="col-sm-11">
            <label class="custom-file">
                <input type="file" id="file2" class="custom-file-input">
                <span class="custom-file-control my-input-textarea send-login"></span>
            </label>
        </div>
    </div>
    
    <div class="form-group row">
        <label for="inputPassword1" class="col-sm-1 label">Pass:</label>
    </div>
    <div class="form-group row">
        <label for="inputPassword1" class="col-sm-1 label">Old:</label>
        <div class="col-sm-11">
            <input type="password" class="form-control my-input-textarea" id="inputPassword1" placeholder="heavy_metal">
            <div class="invalid-feedback">
                Please provide valid pass.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword2" class="col-sm-1 label">New:</label>
        <div class="col-sm-11">
            <input type="password" class="form-control my-input-textarea" id="inputPassword2" placeholder="heavy_metal">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-1 label">New:</label>
        <div class="col-sm-11">
            <input type="password" class="form-control my-input-textarea is-invalid" id="inputPassword3" placeholder="heavy_metal">
            <div class="invalid-feedback">
                Please provide valid repeat pass.
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-11">
            <button type="submit" class="btn btn-primary send-button">\m/</button>
        </div>
    </div>
</form>
{% endblock %}
