{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Tag -->
<div class="row my-input-title"><h3>Tag: #Metal</h3></div>

<!-- Question -->
<div class="row one-question ">  
    <div class="col-md-2">
        
        <!-- Avatar -->
        <a href="#"><img class="one-question-avatar" src="../static/img/ava/lemmy_killmister.png"></a>
        
        <!-- Likes -->
        <a href="#" class="like"></a><b class="likes">18</b>
        <a href="#" class="dislike"></a><b class="likes">2</b> 
    </div>
    <div class="col-md-10">
        
        <!-- Question Title -->
        <div class="one-question-title">  <a href="question.html">Кто самый быстрый гитарист в мире?</a></div>
        
        <!-- Question Text -->
        <div class="one-question-text">
            <p>
                Знаю, что в России самый быстрый гитарист - Виктор Зинчук. Знаю про Майкла Анджело Б...
                <!-- Full Question Text -->
                <a class="one-question-read-more" href="question.html">Read more...</a>
            </p>
            
            <!-- Answers -->
            <div>
                Answers: <a href="#" class="one-question-number-of-answers">3</a>
            </div>
            
            <!-- Tags -->
            <div>
                Tags: <a href="#" class="one-question-selected-tag">#Heavy</a> <a href="#" class="one-question-selected-tag">#Metal</a> <a href="#" class="one-question-selected-tag">#Guitarist</a> <a href="#" class="one-question-selected-tag">#Fastest</a>
            </div>
        </div>
    </div>
</div>

<!-- Question -->
<div class="row one-question ">  
    <div class="col-md-2">
        
        <!-- Avatar -->
        <a href="#"><img class="one-question-avatar" src="../static/img/ava/lemmy_killmister.png"></a>

        <!-- Likes -->
        <a href="#" class="like"></a><b class="likes">18</b>
        <a href="#" class="dislike"></a><b class="likes">2</b> 
    </div>
    <div class="col-md-10">
        
        <!-- Question Title -->
        <div class="one-question-title">  <a href="question.html">Кто самый быстрый гитарист в мире?</a></div>
        
        <!-- Question Text -->
        <div class="one-question-text">
            <p>
                Знаю, что в России самый быстрый гитарист - Виктор Зинчук. Знаю про Майкла Анджело Б...
                <!-- Full Question Text -->
                <a class="one-question-read-more" href="question.html">Read more...</a>
            </p>
            
            <!-- Answers -->
            <div>
                Answers: <a href="#" class="one-question-number-of-answers">3</a>
            </div>
            
            <!-- Tags -->
            <div>
                Tags: <a href="#" class="one-question-selected-tag">#Heavy</a> <a href="#" class="one-question-selected-tag">#Metal</a> <a href="#" class="one-question-selected-tag">#Guitarist</a> <a href="#" class="one-question-selected-tag">#Fastest</a>
            </div>
        </div>
    </div>
</div>

<!-- Question -->
<div class="row one-question ">  
    <div class="col-md-2">
        
        <!-- Avatar -->
        <a href="#"><img class="one-question-avatar" src="../static/img/ava/lemmy_killmister.png"></a>

        <!-- Likes -->
        <a href="#" class="like"></a><b class="likes">18</b>
        <a href="#" class="dislike"></a><b class="likes">2</b> 
    </div>
    <div class="col-md-10">
        
        <!-- Question Title -->
        <div class="one-question-title">  <a href="question.html">Кто самый быстрый гитарист в мире?</a></div>
        
        <!-- Question Text -->
        <div class="one-question-text">
            <p>
                Знаю, что в России самый быстрый гитарист - Виктор Зинчук. Знаю про Майкла Анджело Б...
                <!-- Full Question Text -->
                <a class="one-question-read-more" href="question.html">Read more...</a>
            </p>
            
            <!-- Answers -->
            <div>
                Answers: <a href="#" class="one-question-number-of-answers">3</a>
            </div>
            
            <!-- Tags -->
            <div>
                Tags: <a href="#" class="one-question-selected-tag">#Heavy</a> <a href="#" class="one-question-selected-tag">#Metal</a> <a href="#" class="one-question-selected-tag">#Guitarist</a> <a href="#" class="one-question-selected-tag">#Fastest</a>
            </div>
        </div>
    </div>
</div>

<!-- Question -->
<div class="row one-question ">  
    <div class="col-md-2">
        
        <!-- Avatar -->
        <a href="#"><img class="one-question-avatar" src="../static/img/ava/lemmy_killmister.png"></a>

        <!-- Likes -->
        <a href="#" class="like"></a><b class="likes">18</b>
        <a href="#" class="dislike"></a><b class="likes">2</b> 
    </div>
    <div class="col-md-10">
        
        <!-- Question Title -->
        <div class="one-question-title">  <a href="question.html">Кто самый быстрый гитарист в мире?</a></div>
        
        <!-- Question Text -->
        <div class="one-question-text">
            <p>
                Знаю, что в России самый быстрый гитарист - Виктор Зинчук. Знаю про Майкла Анджело Б...
                <!-- Full Question Text -->
                <a class="one-question-read-more" href="question.html">Read more...</a>
            </p>
            
            <!-- Answers -->
            <div>
                Answers: <a href="#" class="one-question-number-of-answers">3</a>
            </div>
            
            <!-- Tags -->
            <div>
                Tags: <a href="#" class="one-question-selected-tag">#Heavy</a> <a href="#" class="one-question-selected-tag">#Metal</a> <a href="#" class="one-question-selected-tag">#Guitarist</a> <a href="#" class="one-question-selected-tag">#Fastest</a>
            </div>
        </div>
    </div>
</div>


<!-- Paginator -->
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}
