{% load static %}
<br>
<footer class="footer">
    <br>
    <div class="designed-by">
        Designed by Mikhail Masyagin
    </div>
    <!-- Tech Support -->
    <div class="tech-support">
        Tech Support:
        <a href="mailto:masyagin1998@yandex.ru">
            <img src="{% static 'img/tech_support/email.png' %}">
        </a>
        <a href="https://vk.com/kashvaknettel" target="_blank">
            <img src="{% static 'img/tech_support/vk.png' %}">
        </a>
        <a href="https://github.com/masyagin1998" target="_blank">
            <img src="{% static 'img/tech_support/github.png' %}">
        </a>
    </div>
</footer>
