{% load static %}
<div class="type-of-tags row"><h3>Top 10 Members:</h3></div>
<div class="top-members">
    <b class="red-label">{{ top_users.nick01 }}</b>
    <br>
    <b class="yellow-label">{{ top_users.nick02 }}</b>
    <br>
    <b class="green-label">{{ top_users.nick03 }}</b>
    <br>
    <b class="purple-label">{{ top_users.nick04 }}</b>
    <br>
    <b class="orange-label">{{ top_users.nick05 }}</b>
    <br>
    <b class="yellow-label">{{ top_users.nick06 }}</b>
    <br>
    <b class="orange-label">{{ top_users.nick07 }}</b>
    <br>
    <b class="purple-label">{{ top_users.nick08 }}</b>
    <br>
    <b class="red-label">{{ top_users.nick09 }}</b>
    <br>
    <b class="green-label">{{ top_users.nick10 }}</b>
    <br>
</div>
