{% load static %}
<div class="type-of-tags row"><h3>Top tags:</h3></div>
<div class="top-tags">
    <a href="{% url 'tag' top_tags.tag01 %}" class="red-label">{{ top_tags.tag01 }}</a><a href="{% url 'tag' top_tags.tag02 %}" class="orange-label">{{ top_tags.tag02 }}</a>
    <a href="#" class="yellow-label">{{ top_tags.tag03 }}</a><a href="{% url 'tag' top_tags.tag03 %}" class="green-label">{{ top_tags.tag04 }}</a><a href="{% url 'tag' top_tags.tag05 %}" class="purple-label">{{ top_tags.tag05 }}</a>
    <a href="{% url 'tag' top_tags.tag06 %}" class="green-label">{{ top_tags.tag06 }}</a><a href="{% url 'tag' top_tags.tag07 %}" class="orange-label">{{ top_tags.tag07 }}</a>
    <a href="{% url 'tag' top_tags.tag08 %}" class="red-label">{{ top_tags.tag08 }}</a><a href="{% url 'tag' top_tags.tag09 %}" class="purple-label">{{ top_tags.tag09 }}</a><a href="{% url 'tag' top_tags.tag10 %}" class="yellow-label">{{ top_tags.tag10 }}</a>
    <a href="{% url 'tag' top_tags.tag11 %}" class="orange-label">{{ top_tags.tag11 }}</a><a href="{% url 'tag' top_tags.tag12 %}" class="red-label">{{ top_tags.tag12 }}</a>
    <a href="{% url 'tag' top_tags.tag13 %}" class="green-label">{{ top_tags.tag13 }}</a><a href="{% url 'tag' top_tags.tag14 %}" class="yellow-label">{{ top_tags.tag14 }}</a><a href="{% url 'tag' top_tags.tag15 %}" class="purple-label">{{ top_tags.tag15 }}</a>
    <a href="{% url 'tag' top_tags.tag16 %}" class="purple-label">{{ top_tags.tag16 }}</a><a href="{% url 'tag' top_tags.tag17 %}" class="orange-label">{{ top_tags.tag17 }}</a>
    <a href="{% url 'tag' top_tags.tag18 %}" class="yellow-label">{{ top_tags.tag18 }}</a><a href="{% url 'tag' top_tags.tag19 %}" class="orange-label">{{ top_tags.tag19 }}</a>
    <a href="{% url 'tag' top_tags.tag20 %}" class="red-label">{{ top_tags.tag20 }}</a>
</div>
