{% load static %}
<div class="row one-question ">  
    <div class="col-md-2">
        <!-- Avatar -->
        <img class="one-question-avatar" src="{% get_media_prefix %}{{ question.avatar }}">
        <!-- Likes -->
        <a href="#" class="like"></a><b class="likes">{{ question.number_of_likes }}</b>
        <a href="#" class="dislike"></a><b class="likes">{{ question.number_of_dislikes }}</b> 
    </div>
    <div class="col-md-10">
        <!-- Question Title -->
        <div class="one-question-title">{{ question.title }}</div>
        <!-- Question Text -->
        <div class="one-question-text">
            <p>
                {{ question.text }}
            </p>
            <!-- Tags -->
            <div>
                Tags: <a href="{% url 'tag' question.tag1 %}" class="one-question-selected-tag">{{ question.tag1 }}</a> <a href="{% url 'tag' question.tag1 %}" class="one-question-selected-tag">{{ question.tag2 }}</a> <a href="{% url 'tag' question.tag1 %}" class="one-question-selected-tag">{{ question.tag3 }}</a>
            </div>
        </div>
    </div>
</div>
