{% load static %}
<!-- Question -->
<div class="row one-question">  
    <div class="col-md-2">
        
        <!-- Avatar -->
        <a href="#"><img class="one-question-avatar" src="img/ava/lemmy_killmister.png"></a>
        
        <!-- Likes -->
        <a href="#" class="like"></a><b class="likes">{{ question.likes }}</b>
        <a href="#" class="dislike"></a><b class="likes">{{ question.dislikes }}</b> 
    </div>
    <div class="col-md-10">
        
        <!-- Question Title -->
        <div class="one-question-title">  <a href="{% url 'question' %}">{{ question.title }}</a></div>
        
        <!-- Question Text -->
        <div class="one-question-text">
            <p>
                {{ question.text }}
            </p>
            
            <!-- Tags -->
            <div>
                Tags: <a href="{% url 'tag' %}" class="one-question-selected-tag">{{ question.tag1 }}</a> <a href="{% url 'tag' %}" class="one-question-selected-tag">{{ question.tag2 }}</a> <a href="{% url 'tag' %}" class="one-question-selected-tag">{{ question.tag3 }}</a>
            </div>
        </div>
    </div>
</div>
