{% load static %}
<!-- Question Preview -->
<div class="row one-question">  
    <div class="col-md-2">
        
        <!-- Avatar -->
        <a href="#"><img class="one-question-avatar" src="img/ava/lemmy_killmister.png"></a>
        
        <!-- Likes -->
        <a href="#" class="like"></a><b class="likes">{{ question_preview.likes }}</b>
        <a href="#" class="dislike"></a><b class="likes">{{ question_preview.dislikes }}</b> 
    </div>
    <div class="col-md-10">
        
        <!-- Question Title -->
        <div class="one-question-title">  <a href="{% url 'question' %}">{{ question_preview.title }}</a></div>
        
        <!-- Question Text -->
        <div class="one-question-text">
            <p>
                {{ question_preview.preview }}
                <!-- Full Question Text -->
                <a class="one-question-read-more" href={% url 'question' %}">Read more...</a>
            </p>
            
            <!-- Answers -->
            <div>
                Answers: <a href="{% url 'question' %}" class="one-question-number-of-answers">{{ question_preview.number_of_answers }}</a>
            </div>
            
            <!-- Tags -->
            <div>
                Tags: <a href="{% url 'tag' %}" class="one-question-selected-tag">{{ question_preview.tag1 }}</a> <a href="{% url 'tag' %}" class="one-question-selected-tag">{{ question_preview.tag2 }}</a> <a href="{% url 'tag' %}" class="one-question-selected-tag">{{ question_preview.tag3 }}</a>
            </div>
        </div>
    </div>
</div>
